body {
    font-family: "FiraCode", Helvetica, Arial;
    font-size: 14px;
}

.login-button {
    background-color: rgb(63, 81, 181) !important;
    color: white !important;
}

.login-form {
    margin-left: 20px !important;
    margin-right: 20px !important;
}

.center {
    text-align: center;    
}

.hint-text {
    font-family: "Chunk", Helvetica, Arial;
    text-align: center;
    color: white;
	text-shadow: 0px 1px 0px #999, 0px 2px 0px #888, 0px 3px 0px #777, 0px 4px 0px #666, 0px 5px 0px #555, 0px 6px 0px #444, 0px 7px 0px #333, 0px 8px 7px #001135;
    font-size: 48px;
}

.countdown {
    font-family: "Chunk", Helvetica, Arial;
    text-align: center;
    color: rgb(255, 255, 255);
	text-shadow: 0px 1px 0px #999, 0px 2px 0px #888, 0px 3px 0px #777, 0px 4px 0px #666, 0px 5px 0px #555, 0px 6px 0px #444, 0px 7px 0px #333, 0px 8px 7px #001135;
    font-size: 48px;
}

.score {
    font-family: "Chunk", Helvetica, Arial;
    text-align: center;
    color: white;
	text-shadow: 0px 1px 0px #999, 0px 2px 0px #888, 0px 3px 0px #777, 0px 4px 0px #666, 0px 5px 0px #555, 0px 6px 0px #444, 0px 7px 0px #333, 0px 8px 7px #001135;
}

.score-title {
    font-size: 36px;
}

.score-player {
    font-size: 24px;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

.answerOK {
    font-family: "Chunk", Helvetica, Arial;
    text-align: center;
    font-size: 36px;
    color: #96CA8D;
	text-shadow: 0px 1px 0px #999, 0px 2px 0px #888, 0px 3px 0px #777, 0px 4px 0px #666, 0px 5px 0px #555, 0px 6px 0px #444, 0px 7px 0px #333, 0px 8px 7px #001135;
}

.answerKO {
    font-family: "Chunk", Helvetica, Arial;
    text-align: center;
    font-size: 36px;
    color: #F78282;
	text-shadow: 0px 1px 0px #999, 0px 2px 0px #888, 0px 3px 0px #777, 0px 4px 0px #666, 0px 5px 0px #555, 0px 6px 0px #444, 0px 7px 0px #333, 0px 8px 7px #001135;
}
.hint {
    font-size: 22px;
    margin-top: 20px;
    position: absolute !important; 
    z-index: 999;
    display: inline-block;
    max-width: 500px;
}

.no-padding {
    padding: 0px !important;
}

.flex {
    display: inline-flex;
    justify-content: center;
}